<div class="gv-widget gv-widget-dynamic row">
  <div class="col-md-6 gv-widget-dynamic-content">
    <h4>Compliance Readiness</h4>
    <div>Remediate open incidents, review uninspectable data, and install agents across organisation to improve your readiness level.</div>
    <br />
    <ul class="traffic-lights">
      <li><span class="dot green"></span>GDPR Readiness</li>
      <li><span class="dot amber"></span>Unprotected Devices (in the network)</li>
      <li><span class="dot red"></span>Uninspecable data</li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <canvas id="ChartArea" width="200" height="200"></canvas>
  </div>
</div>