@import "../../styles/variables.less";
@import "../../styles/Mixins.less";

// local variables
@thumbnail-width: 200px;
@thumbnail-height: 150px;

.shot-container {
  position: relative;
  width: @tile-width + @tile-padding-small + @tile-padding-small;
  height: @tile-height + @tile-padding-small + @tile-padding-large;
  //margin: 0 auto 1em auto;
  background-color: @tile-background-color;
  padding: @tile-padding-small @tile-padding-small @tile-padding-large @tile-padding-small;
  .tile-box-shadow();

  .thumbnail-image {
    width: @thumbnail-width;
    height: @thumbnail-height;
  }

  .shot-details {
    position: absolute;
    top: @tile-padding-small;
    width: @thumbnail-width;
    height: @thumbnail-height;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    text-decoration: none;
  }

  .shot-date {
    color: @link-color;
  }
}