@import "../../styles/variables.less";

.shot-list-container {
  //background-color: @container-background-color;
  padding: 2em;

  .shot-container {
    margin-bottom: 1em;

    .shot {
      width: @tile-width;
      display: block;
      margin: 0 auto;
    }
  }

  .placeholder {
    width: @tile-width;
    display: block;
    margin: 0 auto;
  }
}