<div class="container shot-list-container">
  <div class="row" *ngFor="let row of shotsGrid">
    <div class="col-md-4 shot-container" *ngFor="let shot of row">
      <shot [shot]="shot"
            (mouseenter)="showDetails(shot.Id)"
            (mouseleave)="hideDetails(shot.Id)"
            class="shot"></shot>
    </div>
  </div>
  
  <div class="row" *ngFor="let row of placeholdersGrid">
    <div class="col-md-4 placeholder-container" *ngFor="let placeholder of row">
      <placeholder [placeholder]="placeholder"
                   class="placeholder"></placeholder>
    </div>
  </div>
</div>
