<div class="container shot-details">
  <div class="row">
    <div class="col-md-3">
      <a href="" [routerLink]="['/']" class="back-button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        back
      </a>      
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-1 col-md-offset-2"><img src="{{shotDetails.Avatar}}" /></div>
    <div class="col-md-3">
      <h3 class="title">{{shotDetails.Title}}</h3>
      <div class="author">{{shotDetails.AuthorName}}</div>
    </div>    
  </div>
  <br />
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <div class="well description">{{shotDetails.Description}}</div>
      <img src="{{shotDetails.ImageUrl}}" />
    </div>
  </div>
</div>