<div class="container shot-details" *ngIf="shotDetails">
  <div class="row">
    <div class="col-md-3">
      <a href="" [routerLink]="['/']" class="back-button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        back
      </a>      
    </div>
  </div>
  <br />
  <div class="details-container">
    <div class="row">
      <div class="img-container">
        <img src="{{shotDetails.ImageUrl}}" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-2"><img class="avatar" src="{{shotDetails.Avatar}}" /></div>
      <div class="col-md-3">
        <h3 class="title">{{shotDetails.Title}}</h3>
        By <span class="author">{{shotDetails.AuthorName}}</span>
      </div>
      <div class="col-md-offset-2 col-md-9">
        <div class="description">{{shotDetails.Description}}</div>
      </div>
    </div>
  </div>
</div>