@import "../../styles/variables.less";
@import "../../styles/mixins.less";

// local variables
@img-width: 800px;
@img-height: 600px;

.shot-details {

  .back-button {
    font-size: 1.3em;

    &:hover {
      text-decoration: none;
    }
  }

  .details-container {
    background-color: @container-background-color;
    padding: 2em;

    .img-container {
      position: relative;
      width: @img-width + @tile-padding-small + @tile-padding-small;
      height: @img-height + @tile-padding-small + @tile-padding-large;
      margin: 0 auto 1em auto;
      background-color: @tile-background-color;
      padding: @tile-padding-small @tile-padding-small @tile-padding-large @tile-padding-small;
      .tile-box-shadow();
    }

    .avatar {
      border-radius: 50%;
    }

    .title {
      margin-top: 0;
    }

    .author {
      color: @link-color;
      font-size: 1.3em;
    }

    .description {
      margin-top: 1em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .shot-details {
    .details-container {
      .img-container {
        width: auto;
        height: auto;

        img {
          width: 100%;
        }
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .shot-details {
    .details-container {
      .img-container {
        width: auto;
        height: auto;

        img {
          width: 100%;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}