// local variables
@placeholder-width: 150px;
@placeholder-height: 150px;

.placeholder-container {
  position: relative;
  width: @placeholder-width;
  height: @placeholder-height;
  margin: 0 auto 1em auto;
}