<nav class="navbar navbar-inverse navbar-gv">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img class="finger-print" src="assets/finger-print.png" height="24" width="18" alt="Get Visibility Logo" />GETVISIBILITY</a>
  </div>
  <div class="navbar-nav navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-user"></span>
          admin@getvisibility.com
          <span class="caret"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-log-out glyphicon-gv"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid gv-content">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar nav-sidebar-gv">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-refresh"></span>Activity</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Compliance</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span>Classification</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-warning-sign"></span>Data Control</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-random"></span>Data Lineage</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cloud"></span>Data Protection</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-flag"></span>PII Tracking</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-stats"></span>Reports</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>User Management</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Configuration</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-flash"></span>Support</a></li>
      </ul>
    </div>
    <div class="col-md-10 main">
      <div class="row">
        <div class="col-md-3"><span class="gv-heading">Welcome to GV!</span></div>
        <div class="col-md-2">
          <div class="gv-tour-button">
            <span class="gv-tour-text">Go On Tour</span>
            <span class="glyphicon glyphicon-arrow-right"></span>
          </div>
        </div>
        <div class="col-md-7"><span class="pull-right gv-strapline">The ultimate solution for data classification at rest and on-the-fly</span></div>
      </div>
      <div class="row">
        <div class="col-md-3"><div class="gv-widget"><img src="assets/widget-1.png" width="180" height="96" alt="Found Files" /></div></div>
        <div class="col-md-3"><div class="gv-widget"><img src="assets/widget-2.png" width="180" height="96" alt="Classified Files" /></div></div>
        <div class="col-md-3"><div class="gv-widget"><img src="assets/widget-3.png" width="180" height="96" alt="Duplicate Files" /></div></div>
        <div class="col-md-3"><div class="gv-widget"><img src="assets/widget-4.png" width="180" height="96" alt="Confidence Level" /></div></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <compliance></compliance>
        </div>
        <div class="col-md-6"><div class="gv-widget"><img src="assets/widget-6.png" width="412" height="185" alt="Sensitive files activity" /></div></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6"><div class="gv-widget"><img src="assets/widget-7.png" width="412" height="185" alt="Open access to sensitive files" /></div></div>
        <div class="col-md-6"><div class="gv-widget"><img src="assets/widget-8.png" width="412" height="185" alt="Active incidents" /></div></div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">&copy;2018 by Getvisibility</div>
</footer>